<p>
  <strong>Nombre Obra</strong>
  <%= @obra.nombreObra %>
  <%= link_to 'Editar', edit_obra_path(@obra) %> |
  <%= link_to 'Cuadrillas' , obra_cuadrillas_path(@obra,@cuadrilla) %> |
  <%= link_to 'Back', obras_path %>
</p>
